# --- Database ---
DB_URL=

# --- JWT / Auth ---
ALGORITHM=

# --- Keycloak ---
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_BASE_URL=
KEYCLOAK_REALM=

# --- Development ---
DISABLE_AUTH=false
DEV_USER_ID=1